* {
  margin: 0px;
  padding: 0px;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
}

body {
  background-color: antiquewhite;
}

header {
  display: flex;
  background-color: azure;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.myntra_home {
  height: 45px;
  /* width: 53px; */
}

.logo_Container {
  margin-left: 4%;
}

.action_bar {
  margin-right: 4%;
}

.nav_bar {
  display: flex;
  min-width: 500px;
  justify-content: space-between;
}
