/* Global Styles */
* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  box-sizing: content-box; /* Width/height includes content only */
}

/* Header Section */
header {
  display: flex;
  background-color: white;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

/* Logo Section */
.myntra_home {
  height: 45px;
}

.logo_container {
  margin-left: 4%;
}

/* Action Bar */
.action_bar {
  margin-right: 4%;
}

/* Navigation Bar */
.nav_bar {
  display: flex;
  min-width: 500px;
  justify-content: space-between;
}

.nav_bar a {
  font-size: 13px;
  letter-spacing: 0.3px;
  color: black;
  font-weight: 650;
  text-transform: uppercase;
  text-decoration: none;
  padding: 28px 0;
  border-bottom: 5px solid white;
}

.nav_bar a:hover {
  border-bottom: 5px solid #f54e77;
}

/* Highlight 'New' above Studio */
.nav_bar a sup {
  color: red;
  font-size: 10px;
}

/* Search Bar */
.search_bar {
  height: 40px;
  min-width: 200px;
  width: 30%;
  display: flex;
  align-items: center;
}

.search_icon {
  height: 20px;
  padding: 10px;
  background-color: #f5f5f6;
}

.search_input {
  color: #696e79;
  background-color: #f5f5f6;
  flex-grow: 1;
  height: 40px;
  border: 0;
}

.search_input:focus {
  outline: none;
}

/* Action Bar Items */
.action_bar {
  min-width: 200px;
  justify-content: space-around;
  display: flex;
}

.action_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action_name {
  font-size: 13px;
  font-weight: 400;
}

/* Main Section */
.banner_container {
  display: flex;
  width: 100%;
  padding: 23px 50px 0 50px;
  box-sizing: border-box;
  background: linear-gradient(#f5f5f6, #ffff);
}

.banner_image {
  width: 50%;
}

.sponser_image_Container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.sponser_Image {
  width: 42.5vw;
}

/* Bank Offers */
.bank_offerContainer {
  display: flex;
  justify-content: center;
}

.bank_offer {
  width: 12.4%;
  box-sizing: content-box;
}

/* Crazy Deal Section */
.crezy_deal {
  display: flex;
  justify-content: center;
}

.crezyDeal_image {
  width: 86vw;
  height: auto;
}

.categories_heading {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 1.8em;
  margin: 80px 0 80px 30px;
  max-height: 5em;
  font-weight: 700;
}

.categoties_item {
  display: flex;
  flex-wrap: wrap;
}

.item_sale {
  width: 250px;
}

.catagory_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 50px;
}

.catagory_item {
  width: 180px;
  height: auto;
}

/* Footer Section */
footer {
  display: flex;
  justify-content: center;
  background-color: #fafbfc;
}

.footer_container {
  padding: 30px 0 40px 0;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.footer_colum {
  display: flex;
  flex-direction: column;
  border: 0px;
}

.footer_colum a {
  text-decoration: none;
  font-size: 14px;
  color: #696b79;
  padding-bottom: 5px;
}

.footer_colum h3 {
  margin-bottom: 20px;
  font-size: 10px;
  font-weight: 700;
}

#useful_link {
  margin-top: 25px;
}

.app_logo {
  height: 42px;
}

.keep_in_touch h3 {
  margin: 20px 0 10px;
}

.socialmedia_icon {
  font-size: 20px;
  color: #696b79;
}

.socialmedia_icon i {
  margin-right: 10px;
}

.footer_promises {
  width: 300px;
  color: #696b79;
}

.footer_promises strong {
  color: #3e4152;
}

.promises_img {
  display: flex;
  margin-bottom: 20px;
}
.footer_promises .promises_img img {
  width: 50px !important;
  margin-right: 5px !important;
}
